
<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8"　/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

<!--走る猫-->
    <div class ="cat"><%= image_tag "cat.png", size: '50x50' %><%=link_to image_tag("cat.png", size: '100x100'),"/cat" %></div>
    <div class ="anime_box"></div>

<!--タイトル下部分  -->
      <div id="tab-contents">

        <% if user_signed_in? %>
        <div id="tab2" class="tab">
          <%= image_tag "gachagacha.png", size: '200x200' %><%=link_to "ガチャくじ", "/gatya" %>
        </div>

        <div id="tab3" class="tab">
          <%= image_tag "roulette.PNG", size: '200x200' %><%=link_to "フルーツルーレット","/roulette" %>
        </div>

        <div id="tab4" class="tab">☀<%=link_to "世界の天気","/weather" %>

        </div>

        <div id="tab5" class="tab">
          <%= image_tag "gachagacha.png", size: '200x200' %><%=link_to "タロットくじ", "/shuffle" %>
        </div>

        <div id="tab6" class="tab">
          <a>猫占いを探してみてね</a>
        </div>


        </div>
        <% else %>
        <div id="tab1" class="tab">
          <h3>当サイトは会員制です（無料）</h3>
          <h3><%=link_to "ログイン", "/users/sign_in" %>・<%=link_to "会員登録", "/users/sign_up" %></h3>
          <div class ="cat"><%= image_tag "cat.png", size: '50x50' %><%=link_to image_tag("cat.png", size: '100x100'),"/cat" %></div>
          <div class ="anime_box"></div>
        <% end %>
      </div>
    </div>

  <!--<body>-->
  <!--  <h1>くじ引きサイト</h1>-->
  <!--  <h3>-->
  <!--  <%= image_tag "gachagacha.png", size: '200x200' %><%=link_to "ガチャくじ", "/gatya" %>-->
  <!--  <%= image_tag "roulette.PNG", size: '200x200' %><%=link_to "ルーレットくじ","/roulette" %>-->
  <!--  </h3>-->
  <!--  <h4></h4>-->


    <span id="back">
      <a href="#">
        <%= image_tag "arrow.png" %>
      </a>
    </span>



    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>